.take_photo_area {
  max-width: 300px;
  aspect-ratio: 1;
  border-radius: var(--bd-ra);

  & video,
  & img {
    width: 100%;
    border-radius: 50%;
  }
}

.take_photo_btn {
  width: 50px;
  aspect-ratio: 1;
}

.take_photo_alert > div:has(.take_photo_btn) {
  width: 100px;
  margin: 0 auto;
  animation: widthTo100 0.3s ease forwards;
}
