.avatar {
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: linear-gradient(#fff -100%, var(--main-color));
  scale: 0;
  animation: scaleTo1 0.2s ease forwards;
}

.avatar_edit_btns {
  position: absolute;
  right: 0;
  bottom: 0;

  & > * {
    height: 30px;
    aspect-ratio: 1/1;
    padding: 0;
  }

  & span {
    overflow: visible;
    font-size: 0.5em;
  }
}

.avatar img {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: inherit;
}

.avatar:has(img) {
  background: none !important;
}

:root {
  --avatar-size: 0;
}
