.search_con {
  padding: var(--pd-small);
  min-width: var(--search-area-min-width);
  max-width: var(--search-area-max-width);
}

.search_res_con {
  flex: 1;
  border-radius: var(--bd-ra);
  padding: var(--pd-small);
}

:root {
  --search-area-min-width: 300px;
  --search-area-max-width: 800px;
}
