.bd_ra {
  border-radius: var(--bd-ra) !important;
}

.bd_ra_big {
  border-radius: var(--bd-ra-big) !important;
}

.bd_ra_50 {
  border-radius: 50% !important;
}

:root {
  --bd-ra: 10px;
  --bd-ra-small: 6px;
  --bd-ra-big: 16px;
}
