[class^='con'] {
  border-radius: var(--bd-ra);
  padding: var(--pd-small);
}

.con_ha {
  &:hover {
    background-color: var(--bg-hover);
  }

  &:active {
    background-color: var(--bg-active);
  }
}

.con_h {
  &:hover {
    background-color: var(--bg-hover);
  }
}

.con_a {
  &:active {
    background-color: var(--bg-active);
  }
}

.con_bg_df {
  background-color: var(--bg);
}

.con_bg_dr {
  background-color: var(--bg-dark) !important;
}

.con_bd_df {
  border: 1px solid var(--grey-border) !important;
}

.con_bd_cl {
  border: 1px solid var(--main-color-border) !important;
}

.con_bg_gradient {
  background: linear-gradient(
    238deg,
    var(--gradient-1) 21%,
    var(--gradient-2) 40%,
    var(--gradient-3) 56%,
    var(--gradient-4) 85%
  );
  background-size: 100%;
  transition: all 0.3s ease;

  &.con_a {
    &:active {
      background-size: 100%;
      background-position: 0 0;
    }
  }

  &.con_h {
    &:hover {
      background-size: 300%;
      background-position: 50% 50%;
    }
  }

  &.con_ha {
    &:hover {
      background-size: 300%;
      background-position: 50% 50%;
    }

    &:active {
      background-size: 100%;
      background-position: 0 0;
    }
  }
}
