.df_f {
  display: flex;
}

.df_fd_cl {
  display: flex;
  flex-direction: column;
}

.df_f_ce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.df_ai_ce {
  display: flex;
  align-items: center;
}

.df_ai_ce_child * {
  display: flex;
  align-items: center;
}

.df_ai_st {
  display: flex;
  align-items: start;
}

.df_ai_end {
  display: flex;
  align-items: end;
}

.df_jc_ce {
  display: flex;
  justify-content: center;
}

.df_jc_ce_child * {
  display: flex;
  justify-content: center;
}

.df_jc_sb {
  display: flex;
  justify-content: space-between;
}

.df_jc_end {
  display: flex;
  justify-content: flex-end;
}

.d_n {
  display: none;
}
