[class^='material-symbols'] {
  max-width: 24px;
  max-height: 24px;
  pointer-events: none;
  overflow: hidden;
}

[class^='material-symbols'].fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

i[class^='fa'] {
  font-size: 1.2em;
}

i[class^='fa'].fz_big {
  font-size: 2em !important;
}
