.line_x,
.line_y,
.line_x_small {
  background-color: var(--bg);
  border-radius: 1em;

  &.line_dark {
    background-color: var(--bg-dark);
  }
}

.line_x,
.line_x_small {
  width: 0;
  margin: 0 auto;
  animation: widthTo100 0.3s 0.2s ease forwards;
}

.line_x {
  height: var(--line-size);
}

.line_x_small {
  height: calc(var(--line-size) / 2);
}

.line_y {
  height: 0;
  margin: auto 0;
  width: var(--line-size);
  animation: heightTo100 0.3s 0.2s ease forwards;
}

:root {
  --line-size: 3px;
}
