.scroll_y {
  overflow: hidden auto;
  scrollbar-gutter: stable both-edges;
}

.scroll_y::-webkit-scrollbar {
  width: var(--scroll-size);
}

.scroll_x {
  overflow: auto hidden;
  scrollbar-gutter: stable both-edges;
}

.scroll_x::-webkit-scrollbar {
  height: var(--scroll-size);
}

.scroll_y::-webkit-scrollbar,
.scroll_x::-webkit-scrollbar {
  border-radius: var(--bd-ra);
  background-color: var(--scrollbar-bg);
}

.scroll_y::-webkit-scrollbar-thumb,
.scroll_x::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: var(--bd-ra);
}

.is_phone {
  .scroll_y::-webkit-scrollbar {
    width: var(--scroll-size-phone);
  }

  .scroll_x::-webkit-scrollbar {
    height: var(--scroll-size-phone);
  }
}

:root {
  --scroll-size: 5px;
  --scroll-size-phone: 2px;
}
