.txt_opa {
  color: color-mix(
    in srgb,
    var(--theme-color-not) 40%,
    var(--theme-color-not) 20%
  );
}

.txt_gradient {
  background: linear-gradient(
    238deg,
    var(--gradient-1) 21%,
    var(--gradient-2) 40%,
    var(--gradient-3) 56%,
    var(--gradient-4) 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt_yellow {
  color: var(--yellow-color);
}

.txt_red {
  color: var(--red-color);
}

.txt_main {
  color: var(--main-color);
}

.gender_male {
  color: var(--gender-male-color);
}

.gender_female {
  color: var(--gender-female-color);
}

.txt_ar {
  text-align: right;
  line-height: 2em;
}
