.input_area {
  position: relative;
  background-color: var(--bg);
  border-radius: var(--bd-ra-small);
  padding: 0 var(--pd-small);
  padding-left: 0;
  overflow: hidden;
  width: 100%;
}

.input_area:hover {
  background-color: var(--bg-hover);
}

.input_area:focus-within {
  background-color: var(--bg-active);
}

.input_area:has(.error) {
  background-color: var(--error-color-bg);
  color: var(--error-color);

  &:hover {
    background-color: var(--error-color-hover);
  }

  &:focus-within {
    background-color: var(--error-color-active);
  }
}

.input_area:has(.error) input {
  caret-color: var(--error-color);
}

.input_area:has(.error) button {
  background-color: color-mix(
    in srgb,
    var(--error-color) 80%,
    var(--theme-color-not) 20%
  );
}

.input_area:has(.error) button:hover {
  background-color: color-mix(
    in srgb,
    var(--error-color) 70%,
    var(--theme-color) 50%
  );
}

.input_area label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: var(--pd-small);
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}

.input_area label.active {
  left: calc(3 * var(--pd-small));
  opacity: 0;
}

input {
  padding: var(--pd-small-very) 0;
  padding-left: var(--pd-small);
  width: 100%;
  background: none;
  border: none;
  cursor: text;
}

.input_area button {
  width: 20px;
  aspect-ratio: 1/1;
  padding: 0 var(--pd-small-very);
  opacity: 0;
  scale: 0;
  transition: scale 0.3s ease;
}

.input_area:focus-within button,
.input_area:focus-within:hover button {
  scale: 1;
  opacity: 1;
}

.input_area button span {
  font-size: 0.8em;
}
