.main_area {
  display: flex;
  position: relative;
  height: 100%;
}

.menu {
  width: var(--menu-size);
  position: absolute;
  height: 100%;
  padding: var(--pd-small-very);
  padding-right: 0;
}

.is_phone {
  .menu {
    width: 100%;
    height: var(--menu-size);
    bottom: 0;
    padding: var(--pd-small-very);
  }
}

.main {
  width: 100%;
  margin-left: var(--menu-size);
  padding: var(--pd-small);
  flex: 1;
}

.is_phone {
  .main {
    margin-left: 0;
    margin-bottom: var(--menu-size);

    &:has(.home_page) {
      padding: 0;
    }
  }
}

.main_area:has(.two_blur_balls) .menu {
  z-index: 1;
}

.main_area:has(.read_area) .menu {
  z-index: auto;
}

.main_area:has(.home_page) .main {
  padding-top: 0;
}

.main_w {
  width: 800px;
}

.main_w_small {
  width: 500px;
}

.is_phone {
  .main_w {
    width: 100%;
  }

  .main_w_small {
    width: 100%;
  }
}

.social_media > * {
  width: 40px;
  aspect-ratio: 1;
  padding: var(--pd-small-very);
  border-radius: 50%;
}

:root {
  --menu-size: 70px;
}
