.main_area {
  display: flex;
  position: relative;
  height: 100%;
}

.menu {
  width: var(--menu-size);
  position: absolute;
  height: 100%;
  padding: var(--pd-small-very);
  padding-right: 0;
}

.main {
  margin-left: var(--menu-size);
  padding: var(--pd-small);
  flex: 1;
}

.main_area:has(.two_blur_balls) .menu {
  z-index: 1;
}

.main_area:has(.home_page) .main {
  padding-top: 0;
}

.main_w {
  width: 800px;
}

.main_w_small {
  width: 500px;
}

:root {
  --menu-size: 70px;
}
