.progress_bar {
  height: var(--progress-bar-h);
  border-radius: var(--bd-ra);
  background-color: var(--bg);
  overflow: hidden;
}

.progress_bar_con {
  height: 100%;
  background-color: var(--main-color-bg);
}

:root {
  --progress-bar-h: 15px;
}
