.quran_choose_area {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: var(--pd-small) var(--pd-small-very);
}

.quran_area:has(.read_area) {
  overflow: hidden;

  .quran_choose_area {
    z-index: auto;
  }
}
