.main_big_text {
  font-size: 5em;
  text-shadow: 0px 0px 50px var(--main-color-light);
  position: relative;
}

.two_blur_balls {
  isolation: isolate;
}

.two_blur_balls::before,
.two_blur_balls::after {
  content: '';
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  background-color: transparent;
  z-index: -1;
  box-shadow: 0 0 700px 200px var(--main-color);
}

.two_blur_balls::before {
  left: var(--left-pos);
  animation: leftToRight 10s infinite;
}

.two_blur_balls::after {
  left: var(--right-pos);
  animation: rightToLeft 10s infinite;
}

@keyframes leftToRight {
  to {
    left: var(--right-pos);
  }
}

@keyframes rightToLeft {
  to {
    left: var(--left-pos);
  }
}

:root {
  --left-pos: 30%;
  --right-pos: 70%;
}

.two_blur_balls::before {
  left: var(--left-pos);
}

.two_blur_balls::after {
  left: var(--right-pos);
}
