.home_page {
  scroll-behavior: smooth;
  overflow: hidden;
}

.home_page_item {
  overflow: hidden;
}

.main_big_text {
  font-size: 5em;
  text-shadow: 0px 0px 50px var(--main-color-light);
  position: relative;
}

.main_btn {
  --facts-bd-size: 2px;
  width: 200px !important;
  height: 70px !important;
  margin-bottom: var(--mar-big);
  font-size: 1.5em;
}

.main_btn,
.main_btn > * {
  border-radius: 100px;
}

.main_btn:hover {
  box-shadow: 0 0 20px 3px var(--main-color);
}

.main_btn:active {
  box-shadow: 0 0 10px 1px var(--main-color);
}

.facts > * {
  width: 300px;
  height: 100px;
  position: relative;
  isolation: isolate;
  padding: var(--facts-bd-size);
}

.facts_bg {
  height: 100%;
}

.facts_con {
  position: absolute;
  top: 0;
  left: 0;
  inset: var(--facts-bd-size);
  padding: var(--pd-small);
}

.scroll_btns {
  position: absolute;
  top: 50%;
  right: var(--pd-small);
  transform: translateY(-50%);
}

.scroll_dot_btn {
  width: 5px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0;
}

.scroll_dot_btn.active {
  width: 10px;
  background-color: var(--main-color-bg);
  box-shadow: 0 0 30px 5px var(--main-color);
}

.up_down_btn {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0;

  span {
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:root {
  --facts-bd-size: 1px;
}
