.loading_area:has(.loading_con) {
  position: relative;
  overflow: hidden !important;
  padding: 0 !important;
}

.loading_area:has(.loading_con) > *:not(.loading_con) {
  display: none;
}

.loading_con {
  width: 100%;
  height: 100%;
  padding: var(--pd-small);
}

.loading_spinners {
  width: var(--loading-size);
  height: var(--loading-size);
}

.loading_spinner {
  position: absolute;
  border: 4px solid var(--loading-bd-color);
  border-radius: 50%;
  border-top: none;
  border-right: none;
  width: var(--loading-size);
  height: var(--loading-size);
  animation: loadingRotate var(--loading-anim-duration) linear infinite;
}

.loading_text {
  margin-bottom: var(--mar-small);
}

:root {
  --loading-size: 50px;
}
