.ayahs_list .ayahs_top {
  padding: var(--pd-small-very) var(--pd-small);
}

.ayahs_list .number {
  height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--main-color-dark);
}
