.slider_area {
  position: relative;
  width: min(100%, 200px);
  border-radius: 2em;
  overflow: hidden;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .slider_bg {
      background-color: var(--main-color-hover);
    }
  }

  &:active {
    .slider_bg {
      background-color: var(--main-color);
    }
  }
}

.slider_input {
  opacity: 0;
  cursor: default;
}

.slider_bg {
  background-color: var(--main-color-bg);
  pointer-events: none;
}

.slider_bg::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--main-color-active);
}
